version: 2
jobs:
  build:
    docker:
      - image: docker:latest
    steps:
      - checkout
      - setup_remote_docker
      - run: docker build -t $IMAGE_NAME:latest .

  deploy:
    docker:
      - image: docker:latest
    steps:
      - checkout
      - setup_remote_docker
      - run: |
          docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
          docker build -t $IMAGE_NAME:latest .
          if [[ -z ${CIRCLE_TAG} ]]; then
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:develop
            docker push $IMAGE_NAME:develop
          else
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:$CIRCLE_TAG
            docker push $IMAGE_NAME:$CIRCLE_TAG
          fi

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: master
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
            tags:
              only: /.*/
